.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: none;
    border-radius: 10px;
    margin: 1rem;
    transition: color 0.15s ease, border-color 0.15s ease;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
}
.article h2 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.15;
    text-align: center;
}

.article p {
    /* this is the body of the article */
    margin: 0;
    text-align: center;
    line-height: 1.5;
    font-size: 1.5rem;

}

